@media print {
    body {
        margin-top: 30px;
    }

    header,
    footer {
        display: none;
    }

    #content {
        width: 100%;
        padding-top: 0;
    }

    button {
        display: none !important;
        /**border: 0 !important;
        color: black !important;
        background-color: white !important;*/
    }

    .tableLesson div {
        display: block;
        text-align: center;
        vertical-align: middle;
    }

    .tableLesson div span {
        font-style: italic;
        color: gray;
    }

    .tableLesson {
        padding: .75rem .75rem 0 .75rem !important;
    }

    .tableTime {
        padding: .75rem .75rem 0 .75rem !important;
    }
}
