body {
    background-color: #f0f0f0;
}

.btn-secondary {
    width: 50%;
    align-content: center !important;
}

#content {
    width: 70%;
    min-width: 680px;
    margin: auto;
    padding-top: 5vw;
    padding-top: 65px;

}

#navbarul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 100vw;
    top: 0;
}

#navbarli {
    float: right;
}

#navbarli a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbarli a:hover {
    cursor: pointer;
    background-color: #111;
}

#timetableHead th {
    width: 18%;
    max-width: 100px;
}

#timetable td {
    overflow: hidden;
    padding: 0;
}

.tableLesson div {
    display: none;
    text-align: center;
}

.tableTime {
    width: 10%;
    min-width: 80px;
    max-height: 10px;
    overflow: hidden;
    padding: 1% .75rem .75rem .75rem !important;
}

.tableTime div {
    max-height: 10px;
}

.tableLesson {
    width: 18%;
    max-width: 100px;
    overflow: hidden;
    padding: 0 !important;
    margin: 0 !important;
}

.class-EVA {
    color: black;
}

.class-test {
    height: 314px !important;
}

.tableLesson button,
.tableLesson div {
    width: 100%;
    height: 62px;
    text-align: center;
}

.teacher-col {
    width: 93px;
    max-width: 93px;
    padding: 0 !important;
}

.teacher-col button {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 32px;
    cursor: default !important;

    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.teacher-col button span {
    display: inline-block;
    padding-left: 10%;
    animation: marquee 15s linear infinite;
    animation-delay: 3000ms;
}

.table-modal {
    padding: 0 !important;
}

.mb-0 {
    align-content: center !important;
}

.btn-login {
    width: 100%;
}

.segment {
    margin: 3% 0px 2%;
}

.content {
    margin-left: 2%;
}

.radio {
    margin: 10px 0 10px !important;
}

.invalid-feedback {
    text-align: left;
}

.dropdown-toggle-split:hover {
    background-color: black !important;
}

.logo:hover {
    background-color: black !important;
}

.dropdown-item {
    color: black !important;
}

.dropdown-item:hover {
    background-color: #e0e0e0 !important;
}

.badge {
    position: inherit !important;
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}

.privacy h3 {
    margin-top: 2vw;
}

.past button {
    background-color: gainsboro;
    border-color: gainsboro;
}

.active {
    border-left: 2px solid #333 !important;

}

.arrow {
    border: none;
    background-color: #f0f0f0 !important;
    height: 150px;
    width: 5vw;
    font-size: 20px;
    font-size-adjust: auto;
    padding: 0;
}

.arrow:hover {
   background-color: #e0e0e0 !important;
}
